https://www.kaggle.com/code/kerneler/starter-international-astronaut-aa1ea028-2/input

Для создания базы данных был взят CSV-файл, содержащий данные международных астронавтов,

состоящий из 6 столбцов: Name (фамилия, имя астронавта), Country (страна), Gender (пол), Flights (наименование корабля и год полета - может быть несколько значений через запятую), Total Flights (общее количество полетов, совершенных астронавтом), Total Flight Time (общее время полетов, ddd:hh:mm).

В результата обработки первоначальных данных был сформирован файл Main_table.csv, фактически содержащий "id" четырех других файлов-словарей для полей 'Name', 'Country', 'Gender', 'Flights' (файлы Name_dictionary.csv , Country_dictionary.csv , Gender_dictionary.csv , Flights_dictionary.csv )

In [ ]:
import pandas as pd

In [ ]:
from google.colab import drive
drive.mount('/content/drive')
data = pd.read_csv('drive/MyDrive/DS_Belhard/for_hw_3/International_Astronaut_Database.csv')
print(data.shape)

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
(567, 6)

In [ ]:
# вывод данных в формате таблицы
data.head()

,Name,Country,Gender,Flights,Total Flights,Total Flight Time (ddd:hh:mm)
0,Abdul Ahad Mohmand,Afghanistan,Man,Soyuz TM-6 (1988),1,008:20:26
1,Akihiko Hoshide,Japan,Man,"STS-124 (2008), Soyuz TMA-05M (2012)",2,140:17:26
2,Alan Bean,United States,Man,"Apollo 12 (1969), Skylab 3 (1973)",2,069:15:45
3,Alan G. Poindexter,United States,Man,"STS-122 (2008), STS-131 (2010)",2,027:21:09
4,Alan Shepard,United States,Man,"Mercury-Redstone 3 (1961), Apollo 14 (1971)",2,009:00:17

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 567 entries, 0 to 566
Data columns (total 6 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Name                           567 non-null    object
 1   Country                        567 non-null    object
 2   Gender                         567 non-null    object
 3   Flights                        567 non-null    object
 4   Total Flights                  567 non-null    int64
 5   Total Flight Time (ddd:hh:mm)  567 non-null    object
dtypes: int64(1), object(5)
memory usage: 26.7+ KB

In [ ]:
# Количество уникальных значений в каждом столбце
unique_counts = data.nunique()
print(unique_counts)

Name                             567
Country                           42
Gender                             2
Flights                          509
Total Flights                      7
Total Flight Time (ddd:hh:mm)    511
dtype: int64

In [ ]:
# Создание справочника уникальных значений для каждого столбца
unique_values_dict = {col: data[col].unique().tolist() for col in data.columns}

# Вывод справочника
for col, unique_values in unique_values_dict.items():
    print(f"Столбец '{col}': {unique_values}")

Столбец 'Name': ['Abdul Ahad Mohmand', 'Akihiko Hoshide', 'Alan Bean', 'Alan G. Poindexter', 'Alan Shepard', 'Albert Sacco', 'Aleksandar Panayotov Aleksandrov', 'Aleksandr Balandin', 'Aleksandr Ivanchenkov', 'Aleksandr Laveykin', 'Aleksandr Lazutkin', 'Aleksandr Misurkin', 'Aleksandr Pavlovich Aleksandrov', 'Aleksandr Samokutyayev', 'Aleksandr Serebrov', 'Aleksandr Skvortsov', 'Aleksei Gubarev', 'Aleksei Leonov', 'Aleksei Yeliseyev', 'Aleksey Ovchinin', 'Alexander Gerst', 'Alexander Kaleri', 'Alexander Poleshchuk', 'Alexander Viktorenko', 'Alexander Volkov', 'Alfred Worden', 'Anatoli Berezovoy', 'Anatoli Ivanishin', 'Anatoli Levchenko', 'Anatoly Artsebarsky', 'Anatoly Filipchenko', 'Anatoly Solovyev', 'Andreas Mogensen', 'Andrei Borisenko', 'Andrew J. Feustel', 'Andrew M. Allen', 'Andrew R. Morgan', 'Andrew Thomas', 'Andriyan Nikolayev', 'André Kuipers', 'Anna Lee Fisher, M.D.', 'Anne McClain', 'Anousheh Ansari', 'Anthony W. England', 'Anton Shkaplerov', 'Arnaldo Tamayo Méndez', 'Aydyn Aimbetov', 'B. Alvin Drew', 'Barbara Morgan', 'Barry Wilmore', 'Bernard A. Harris, Jr.', 'Bertalan Farkas', 'Bjarni Tryggvason', 'Bonnie J. Dunbar', 'Boris Morukov', 'Boris Volynov', 'Boris Yegorov, M.D.', 'Brent W. Jett, Jr.', 'Brewster Shaw', 'Brian Binnie', 'Brian Duffy', 'Bruce McCandless II', 'Bruce Melnick', "Bryan O'Connor", 'Buzz Aldrin', 'Byron Lichtenberg', 'Carl Meade', 'Carl Walz', 'Carlos I. Noriega', 'Catherine Coleman', 'Charles "Pete" Conrad', 'Charles Bolden', 'Charles Camarda', 'Charles D. Walker', 'Charles Duke', 'Charles E. Brady, Jr., M.D.', 'Charles Fullerton', 'Charles Gemar', 'Charles Hobaugh', 'Charles Precourt', 'Charles Simonyi', 'Charles Veach', 'Chen Dong', 'Chiaki Mukai, M.D.', 'Chris Hadfield', 'Christer Fuglesang', 'Christina Koch', 'Christopher Cassidy', 'Christopher Ferguson', 'Claude Nicollier', 'Claudie Haigneré, EAC', 'Clayton Anderson', 'Curtis Brown', 'Dafydd Williams, M.D.', 'Dale Gardner', 'Daniel Barry', 'Daniel Brandenstein', 'Daniel Burbank', 'Daniel Bursch', 'Daniel Tani', 'David Griggs', 'David Hilmers', 'David Leestma', 'David M. Brown', 'David M. Walker', 'David Saint-Jacques', 'David Scott', 'David Wolf, M.D.', 'Dennis Tito', 'Dick Scobee', 'Dirk Frimout', 'Dmitri Kondratyev', 'Dominic A. Antonelli', 'Dominic Gorie', 'Don Lind', 'Donald "Deke" Slayton', 'Donald McMonagle', 'Donald Peterson', 'Donald Pettit', 'Donald Thomas', 'Donald Williams', 'Donn F. Eisele', 'Dorothy M. Metcalf-Lindenburger', 'Douglas G. Hurley', 'Douglas Wheelock', 'Duane G. Carey', 'Dumitru Prunariu', 'Edgar Mitchell', 'Edward Gibson', 'Edward Lu', 'Edward White', 'Edwin J. Garn', 'Eileen Collins', 'Ellen Ochoa', 'Ellen S. Baker, M.D.', 'Ellison Onizuka', 'Eric A. Boe', 'Ernst Messerschmid', 'Eugene Cernan', 'Eugene Trinh', 'Evgeny Tarelkin', 'F. Drew Gaffney, M.D.', 'Fei Junlong', 'Franco Malerba', 'Frank Borman', 'Frank De Winne', 'Frank L. Culbertson, Jr.', 'Franklin Chang-Diaz', 'Franz Viehböck', 'Fred Haise', 'Frederick Gregory', 'Frederick Hauck', 'Frederick Sturckow', 'Frederick W. Leslie', 'Fyodor Yurchikhin', 'G. David Low', 'Garrett Reisman', 'Gary Payton', 'Gennadi Manakov', 'Gennadi Sarafanov', 'Gennady Padalka', 'Gennady Strekalov', 'George D. Zamka', 'George Nelson', 'Georgi Beregovoi', 'Georgi Dobrovolski', 'Georgi Grechko', 'Georgi Ivanov', 'Georgi Shonin', 'Gerald P. Carr', 'Gerhard Thiele', 'Gherman Titov', 'Gregory B. Jarvis', 'Gregory C. Johnson', 'Gregory Chamitoff', 'Gregory H. Johnson', 'Gregory Harbaugh', 'Gregory Linteris', 'Gregory Olsen', 'Gregory R. Wiseman', 'Guion Bluford', 'Guy Gardner', 'Guy Laliberté', 'Hans Schlegel', 'Harrison Schmitt', 'Hazza Al Mansouri', 'Heidemarie Stefanyshyn-Piper', 'Helen Sharman', 'Henry Hartsfield', 'Igor Volk', 'Ilan Ramon', 'Ivan Bella', 'Ivan Vagner', 'Jack D. Fischer', 'Jack Lousma', 'James "Ox" van Hoften', 'James Adamson', 'James Buchli', 'James Dutton', 'James F. Reilly', 'James H. Newman', 'James Halsell', 'James Irwin', 'James M. Kelly', 'James McDivitt', 'James P. Bagian, M.D.', 'James Pawelczyk', 'James Voss', 'James Wetherbee', 'Janet L. Kavandi', 'Janice Voss', 'Jay C. Buckey, M.D.', 'Jean-François Clervoy, EAC', 'Jean-Jacques Favier', 'Jean-Loup Chrétien', 'Jean-Pierre Haigneré, EAC', 'Jeffrey Ashby', 'Jeffrey Hoffman', 'Jeffrey Williams', 'Jerome Apt', 'Jerry L. Ross', 'Jerry Linenger', 'Jessica Meir', 'Jim Lovell', 'Jing Haipeng', 'Joan Higginbotham', 'Joe Edwards', 'Joe H. Engle', 'John "Jack" Swigert', 'John Blaha', 'John Casper', 'John D. Olivas', 'John Fabian', 'John Glenn', 'John Grunsfeld', 'John Herrington', 'John Lounge', 'John O. Creighton', 'John Phillips', 'John Young', 'John-David F. Bartoe', 'Jon McBride', 'Joseph A. Walker', 'Joseph Kerwin, M.D.', 'Joseph M. Acaba', 'Joseph P. Allen', 'Joseph Tanner', 'José Hernández', 'Judith Resnik', 'Julie Payette', 'Jügderdemidiin Gürragchaa', 'K. Megan McArthur', 'Kalpana Chawla', 'Karen Nyberg', 'Karl Henize', 'Karol Bobko', 'Kathleen Rubins', 'Kathryn Hire', 'Kathryn Sullivan', 'Kathryn Thornton', 'Kenneth Bowersox', 'Kenneth Cockrell', 'Kenneth D. Cameron', 'Kenneth Ham', 'Kenneth Reightler', 'Kent Rominger', 'Kevin A. Ford', 'Kevin Kregel', 'Kevin P. Chilton', 'Kimiya Yui', 'Kjell N. Lindgren', 'Klaus-Dietrich Flade', 'Koichi Wakata', 'Konstantin Feoktistov', 'Konstantin Kozeyev', 'L. Gordon Cooper, Jr.', 'Laurel B. Clark, M.D.', 'Lawrence J. DeLucas', 'Lee Archambault', 'Lee Morin', 'Leland D. Melvin', 'Leonid Kadeniuk', 'Leonid Kizim', 'Leonid Popov', 'Leroy Chiao', 'Lev Dyomin', 'Linda Godwin', 'Lisa Nowak', 'Liu Boming', 'Liu Wang', 'Liu Yang', 'Lloyd Hammond', 'Lodewijk van den Berg', 'Loren Acton', 'Loren Shriver', 'Luca Parmitano', 'Léopold Eyharts, EAC', 'Mae Jemison, M.D.', 'Maksim Surayev', 'Mamoru Mohri', 'Marc Garneau', 'Marcos Pontes', 'Mario Runco, Jr.', 'Mark Brown', 'Mark C. Lee', 'Mark Kelly', 'Mark Polansky', 'Mark Shuttleworth', 'Mark Vande Hei', 'Marsha Ivins', 'Martin J. Fettman', 'Mary Ellen Weber', 'Mary L. Cleave', 'Maurizio Cheli', 'Michael Baker', 'Michael Coats', 'Michael Collins', 'Michael Fincke', 'Michael Foale', 'Michael Foreman', 'Michael Fossum', 'Michael Gernhardt', 'Michael J. Bloomfield', 'Michael J. McCulley', 'Michael J. Smith', 'Michael Lopez-Alegria', 'Michael Massimino', 'Michael Melvill', 'Michael P. Anderson', 'Michael R. Barratt, M.D.', 'Michael R. Clifford', 'Michael S. Hopkins', 'Michael T. Good', 'Michel Tognini, EAC', 'Mikhail Korniyenko', 'Mikhail Tyurin', 'Millie Hughes-Fulford', 'Miroslaw Hermaszewski', 'Muhammed Faris', 'Musa Manarov', 'Nancy J. Currie', 'Nancy Jan Davis', 'Naoko Yamazaki', 'Neil Armstrong', 'Nicholas Patrick', 'Nick Hague', 'Nicole Marie Passonno Stott', 'Nikolai Budarin', 'Nikolay Rukavishnikov', 'Niè Hǎishèng', 'Norishige Kanai', 'Norman Thagard, M.D.', 'Oleg Artemyev', 'Oleg Atkov', 'Oleg Kononenko', 'Oleg Kotov', 'Oleg Makarov', 'Oleg Novitskiy', 'Oleg Skripochka', 'Owen Garriott', 'Pamela Melroy', 'Paolo A. Nespoli', 'Patrick Baudry', 'Patrick Forrester', 'Paul Lockhart', 'Paul Scully-Power', 'Paul W. Richards', 'Paul Weitz', 'Pavel Belyayev', 'Pavel Popovich', 'Pavel Vinogradov', 'Pedro Duque', 'Peggy Whitson', 'Peter Wisoff', 'Petr Klimuk', 'Philippe Perrin, EAC', 'Phạm Tuân', 'Pierre Thuot', 'Piers Sellers', 'Rakesh Sharma', 'Randolph Bresnik', 'Reinhard Furrer', 'Reinhold Ewald', 'Rex Walheim', 'Rhea Seddon, M.D.', 'Richard Garriott', 'Richard Gordon', 'Richard Hieb', 'Richard Linnehan', 'Richard Mastracchio', 'Richard Mullane', 'Richard N. Richards', 'Richard O. Covey', 'Richard R. Arnold', 'Richard Searfoss', 'Richard Truly', 'Rick Husband', 'Robert Crippen', 'Robert Curbeam', 'Robert D. Cabana', 'Robert J. Cenker', 'Robert L. Behnken', 'Robert L. Gibson', 'Robert Overmyer', 'Robert Parker', 'Robert S. Kimbrough', 'Robert Satcher, M.D.', 'Robert Springer', 'Robert Stewart', 'Robert Thirsk, M.D.', 'Roberta Bondar, M.D.', 'Roberto Vittori', 'Rodolfo Neri Vela', 'Roger K. Crouch', 'Roman Romanenko', 'Ronald A. Parise', 'Ronald Evans', 'Ronald Garan', 'Ronald Grabe', 'Ronald McNair', 'Ronald Sega', 'Roy Bridges', 'Rusty Schweickart', 'S. Christa McAuliffe', 'Salizhan Sharipov', 'Sally Ride', 'Samantha Cristoforetti', 'Samuel T. Durrance', 'Sandra Magnus', 'Satoshi Furukawa', 'Scott Altman', 'Scott Carpenter', 'Scott D. Tingle', 'Scott Horowitz', 'Scott Kelly', 'Scott Parazynski, M.D.', 'Serena Auñón-Chancellor', 'Sergei Avdeyev', 'Sergei Krikalev', 'Sergei Revin', 'Sergei Ryazanski', 'Sergei Treshchov', 'Sergei Zalyotin', 'Sergey Nikolayevich Ryzhikov', 'Sergey Prokopyev', 'Sergey Volkov', 'Shannon Lucid', 'Shannon Walker', 'Sheikh Muszaphar Shukor, M.D.', 'Sherwood Spring', 'Sidney Gutierrez', 'Sigmund Jähn', 'Soichi Noguchi', 'Sonny Carter, M.D.', 'Stanley G. Love', 'Stephanie Wilson', 'Stephen Frick', 'Stephen G. Bowen', 'Stephen Oswald', 'Stephen Robinson', 'Steven Hawley', 'Steven Lindsey', 'Steven MacLean', 'Steven R. Nagel', 'Steven Smith', 'Steven Swanson', 'Story Musgrave, M.D.', 'Stuart Roosa', 'Sultan bin Salman bin Abdulaziz Al Saud', 'Sunita "Suni" Williams', 'Susan Helms', 'Susan Still Kilrain', 'Svetlana Savitskaya', 'Takao Doi', 'Takuya Onishi', 'Talgat Musabayev', 'Tamara E. Jernigan', 'Taylor Wang', 'Terence Henricks', 'Terrence Wilcutt', 'Terry Hart', 'Terry Virts', 'Thomas Akers', 'Thomas D. Jones', 'Thomas Hennen', 'Thomas Kenneth "Ken" Mattingly II', 'Thomas Marshburn, M.D.', 'Thomas Patten Stafford', 'Thomas Pesquet', 'Thomas Reiter', 'Timothy Creamer', 'Timothy L. Kopra', 'Timothy Peake', 'Toktar Aubakirov', 'Tracy Caldwell Dyson', 'Ulf Merbold', 'Ulrich Walter', 'Umberto Guidoni', 'Valentin Lebedev', 'Valentina Tereshkova', 'Valeri Kubasov', 'Valeri Polyakov, M.D.', 'Valery Bykovsky', 'Valery Korzun', 'Valery Rozhdestvensky', 'Valery Ryumin', 'Valery Tokarev', 'Vance Brand', 'Vasili Lazarev', 'Vasili Tsibliyev', 'Viktor Gorbatko', 'Viktor M. Afanasyev', 'Viktor Patsayev', 'Viktor Savinykh', 'Virgil I. "Gus" Grissom', 'Vitali Sevastyanov', 'Vitaliy Zholobov', 'Vladimir Aksyonov', 'Vladimir Dzhanibekov', 'Vladimir Komarov', 'Vladimir Kovalyonok', 'Vladimir Lyakhov', 'Vladimir N. Dezhurov', 'Vladimir Shatalov', 'Vladimir Solovyov', 'Vladimir Titov', 'Vladimir Vasyutin', 'Vladimír Remek', 'Vladislav Volkov', 'Vyacheslav Zudov', 'Walter Cunningham', 'Walter Schirra', 'Wang Yaping', 'Wendy Lawrence', 'William Anders', 'William B. Lenoir', 'William C. McCool', 'William E. Thornton, M.D.', 'William Frederick Fisher, M.D.', 'William Gregory', 'William Oefelein', 'William Pailes', 'William Pogue', 'William Readdy', 'William S. McArthur', 'William Shepherd', 'Winston Scott', 'Wubbo Ockels', 'Yang Liwei', 'Yelena Kondakova', 'Yelena Serova', 'Yevgeny Khrunov', 'Yi So-yeon', 'Yuri Artyukhin', 'Yuri Baturin', 'Yuri Gagarin', 'Yuri Gidzenko', 'Yuri Glazkov', 'Yuri Lonchakov', 'Yuri Malenchenko', 'Yuri Malyshev', 'Yuri Onufrienko', 'Yuri Romanenko', 'Yuri Shargin', 'Yury Usachov', 'Zhai Zhigang', 'Zhang Xiaoguang']
Столбец 'Country': ['Afghanistan', 'Japan', 'United States', 'Bulgaria', 'Soviet Union', 'Russia', 'Germany', 'Denmark', 'Netherlands', 'Iran', 'Cuba', 'Kazakhstan', 'Hungary', 'Canada', 'Peru', 'China', 'Sweden', 'Switzerland', 'France', 'Belgium', 'Romania', 'Italy', 'Austria', 'United Arab Emirates', 'United Kingdom', 'Israel', 'Slovakia', 'Mongolia', 'Ukraine', 'Brazil', 'South Africa', 'Poland', 'Syria', 'Spain', 'Vietnam', 'India', 'Mexico', 'Malaysia', 'East Germany', 'Saudi Arabia', 'Czechoslovakia', 'South Korea']
Столбец 'Gender': ['Man', 'Woman']

In [ ]:
# Разделение значений в столбце Flights
data['Flights'] = data['Flights'].str.split(', ')

# Преобразование DataFrame с использованием explode
data = data.explode('Flights')

# Вывод результата
print(data)

                   Name        Country Gender               Flights  \
0    Abdul Ahad Mohmand    Afghanistan    Man     Soyuz TM-6 (1988)
1       Akihiko Hoshide          Japan    Man        STS-124 (2008)
1       Akihiko Hoshide          Japan    Man  Soyuz TMA-05M (2012)
2             Alan Bean  United States    Man      Apollo 12 (1969)
2             Alan Bean  United States    Man       Skylab 3 (1973)
..                  ...            ...    ...                   ...
564        Yury Usachov         Russia    Man    Soyuz TM-23 (1996)
564        Yury Usachov         Russia    Man        STS-101 (2000)
564        Yury Usachov         Russia    Man        STS-102 (2001)
565        Zhai Zhigang          China    Man     Shenzhou 7 (2008)
566     Zhang Xiaoguang          China    Man    Shenzhou 10 (2013)

     Total Flights Total Flight Time (ddd:hh:mm)
0                1                     008:20:26
1                2                     140:17:26
1                2                     140:17:26
2                2                     069:15:45
2                2                     069:15:45
..             ...                           ...
564              4                     552:22:24
564              4                     552:22:24
564              4                     552:22:24
565              1                     002:20:26
566              1                     014:14:28

[1280 rows x 6 columns]

In [ ]:
# Создание нового столбца Year
data['Year'] = data['Flights'].str.extract(r'\((\d{4})\)')

# Удаление года из столбца Flights
data['Flights'] = data['Flights'].str.replace(r' \(\d{4}\)', '', regex=True)

print(data)

                   Name        Country Gender        Flights  Total Flights  \
0    Abdul Ahad Mohmand    Afghanistan    Man     Soyuz TM-6              1
1       Akihiko Hoshide          Japan    Man        STS-124              2
1       Akihiko Hoshide          Japan    Man  Soyuz TMA-05M              2
2             Alan Bean  United States    Man      Apollo 12              2
2             Alan Bean  United States    Man       Skylab 3              2
..                  ...            ...    ...            ...            ...
564        Yury Usachov         Russia    Man    Soyuz TM-23              4
564        Yury Usachov         Russia    Man        STS-101              4
564        Yury Usachov         Russia    Man        STS-102              4
565        Zhai Zhigang          China    Man     Shenzhou 7              1
566     Zhang Xiaoguang          China    Man    Shenzhou 10              1

    Total Flight Time (ddd:hh:mm)  Year
0                       008:20:26  1988
1                       140:17:26  2008
1                       140:17:26  2012
2                       069:15:45  1969
2                       069:15:45  1973
..                            ...   ...
564                     552:22:24  1996
564                     552:22:24  2000
564                     552:22:24  2001
565                     002:20:26  2008
566                     014:14:28  2013

[1280 rows x 7 columns]

In [ ]:
# Вывод названий всех столбцов
print(data.columns)

Index(['Name', 'Country', 'Gender', 'Flights', 'Total Flights',
       'Total Flight Time (ddd:hh:mm)', 'Year'],
      dtype='object')

In [ ]:
import pandas as pd
import os

# Указанные столбцы
columns_to_encode = ['Name', 'Country', 'Gender', 'Flights']

# Создание словарей только для указанных категориальных столбцов
dictionaries = {}
for column in columns_to_encode:
    unique_values = data[column].unique()
    dictionaries[column] = {value: idx for idx, value in enumerate(unique_values)}

# Замена значений в основном DataFrame на ключи из словарей
for column in columns_to_encode:
    data[column] = data[column].map(dictionaries[column])

# Сохранение преобразованного DataFrame
transformed_df_path = '/content/drive/My Drive/DS_Belhard/for_hw_3/Main_table.csv'
data.to_csv(transformed_df_path, index=False)
print(f"Transformed DataFrame saved to {transformed_df_path}")

# Путь к папке на Google Диске
save_path = '/content/drive/My Drive/DS_Belhard/for_hw_3'

# Создание папки, если она не существует
os.makedirs(save_path, exist_ok=True)

# Сохранение DataFrame для каждого словаря на Google Диск
for column in columns_to_encode:
    dict_df = pd.DataFrame(list(dictionaries[column].items()), columns=[column, 'Index'])
    dict_df.to_csv(f'{save_path}/{column}_dictionary.csv', index=False)
    print(f"Dictionary for {column} saved to {save_path}/{column}_dictionary.csv")
    print(dict_df)
    print("\n")

print("Transformed DataFrame:")
print(data)

Transformed DataFrame saved to /content/drive/My Drive/DS_Belhard/for_hw_3/Main_table.csv
Dictionary for Name saved to /content/drive/My Drive/DS_Belhard/for_hw_3/Name_dictionary.csv
                   Name  Index
0    Abdul Ahad Mohmand      0
1       Akihiko Hoshide      1
2             Alan Bean      2
3    Alan G. Poindexter      3
4          Alan Shepard      4
..                  ...    ...
562      Yuri Romanenko    562
563        Yuri Shargin    563
564        Yury Usachov    564
565        Zhai Zhigang    565
566     Zhang Xiaoguang    566

[567 rows x 2 columns]


Dictionary for Country saved to /content/drive/My Drive/DS_Belhard/for_hw_3/Country_dictionary.csv
                 Country  Index
0            Afghanistan      0
1                  Japan      1
2          United States      2
3               Bulgaria      3
4           Soviet Union      4
5                 Russia      5
6                Germany      6
7                Denmark      7
8            Netherlands      8
9                   Iran      9
10                  Cuba     10
11            Kazakhstan     11
12               Hungary     12
13                Canada     13
14                  Peru     14
15                 China     15
16                Sweden     16
17           Switzerland     17
18                France     18
19               Belgium     19
20               Romania     20
21                 Italy     21
22               Austria     22
23  United Arab Emirates     23
24        United Kingdom     24
25                Israel     25
26              Slovakia     26
27              Mongolia     27
28               Ukraine     28
29                Brazil     29
30          South Africa     30
31                Poland     31
32                 Syria     32
33                 Spain     33
34               Vietnam     34
35                 India     35
36                Mexico     36
37              Malaysia     37
38          East Germany     38
39          Saudi Arabia     39
40        Czechoslovakia     40
41           South Korea     41


Dictionary for Gender saved to /content/drive/My Drive/DS_Belhard/for_hw_3/Gender_dictionary.csv
  Gender  Index
0    Man      0
1  Woman      1


Dictionary for Flights saved to /content/drive/My Drive/DS_Belhard/for_hw_3/Flights_dictionary.csv
             Flights  Index
0         Soyuz TM-6      0
1            STS-124      1
2      Soyuz TMA-05M      2
3          Apollo 12      3
4           Skylab 3      4
..               ...    ...
322          Soyuz 4    322
323  Mercury-Atlas 8    323
324       Shenzhou 5    324
325         Vostok 1    325
326      Soyuz TM-23    326

[327 rows x 2 columns]


Transformed DataFrame:
     Name  Country  Gender  Flights  Total Flights  \
0       0        0       0        0              1
1       1        1       0        1              2
1       1        1       0        2              2
2       2        2       0        3              2
2       2        2       0        4              2
..    ...      ...     ...      ...            ...
564   564        5       0      326              4
564   564        5       0      249              4
564   564        5       0       71              4
565   565       15       0      254              1
566   566       15       0      288              1

    Total Flight Time (ddd:hh:mm)  Year
0                       008:20:26  1988
1                       140:17:26  2008
1                       140:17:26  2012
2                       069:15:45  1969
2                       069:15:45  1973
..                            ...   ...
564                     552:22:24  1996
564                     552:22:24  2000
564                     552:22:24  2001
565                     002:20:26  2008
566                     014:14:28  2013

[1280 rows x 7 columns]

Таким образом, схема проектируемой БД :

![image.png]()